{% extends 'base.html' %}{% load static %}{% load util %}
  {% block title %}Your file{% endblock %}
  {% block stylesheet %}
  <link rel="stylesheet" href="{% static 'css/yourdata.css' %}">
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
  <link rel="stylesheet" href="{% static 'css/dataTables.bootstrap4.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/responsive.bootstrap4.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/w3.css' %}">
  <link rel="stylesheet" href="{% static 'css/select.bootstrap4.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/colReorder.bootstrap4.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/dataTables.searchHighlight.css' %}">
  <link rel="stylesheet" href="http://code.jquery.com/ui/1.8.18/themes/base/jquery-ui.css" type="text/css" media="all" />
  {% endblock %}
  {% block script %}
  <script src="{% static 'js/w3data.js' %}"></script>
  <script src="{% static 'js/jquery-3.3.1.js' %}"></script>
  <script src="{% static 'js/jquery.dataTables.min.js' %}"></script>
  <script src="{% static 'js/dataTables.bootstrap4.min.js' %}"></script>
  <script src="{% static 'js/dataTables.responsive.min.js' %}"></script>
  <script src="{% static 'js/responsive.bootstrap4.min.js' %}"></script>
  <script src="{% static 'js/dataTables.colReorder.min.js' %}"></script>
  <script src="{% static 'js/dataTables.select.min.js' %}"></script>
  <script src="{% static 'js/yourdata.js' %}"></script>
  <script src="{% static 'js/jquery.highlight.js' %}"></script>
  <script src="{% static 'js/dataTables.searchHighlight.min.js' %}"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js" type="text/javascript"></script>
  {% endblock %}

  {% block stat %}
    <a href="{% url 'download' fileid %}" class="btn btn-success" style="float: right; margin-top: 1em; margin-right: 3em; padding: 5px; padding-right: 6px; padding-left: 6px; font-size: 10px;" onclick="download();"><b>Download current version</b></a>
  {% endblock %}

  <!-- Main body -->
  {% block container %}

    <!-- For college searching -->
    <table border="0" cellspacing="5" cellpadding="5">
      <tbody>
        <tr>
          <td>College Name :</td>
          <td>
            <input type="text" id="search" size="100" />
            <button class="btn" style="background-color: darkred; padding: 1.5px; padding-right: 6px; padding-left: 6px; margin-left: 3em; font-size: 10px; color: white;" onclick="all_clear()">
              Reset
            </button>
            
          </td>
        </tr>
        <tr>
          <td id="select"></td>
          <td>
            <div id="dynamicInput"></div>
          </td>
        </tr>
      </tbody>
    </table>


    <!--Displaying data -->
    <table border="1" id="mytable" class="dataframe">
      <thead>
        <tr style="text-align: right">
          <th style="padding-right: 0px;"></th>
          {% for index in orgdata.columns %}
            <th>{{ index }}</th>
          {% endfor %}
        </tr>
      </thead>
      <tbody>
        
        {% for row in orgdata.values %}

            <tr data-user="1"> 
              <th class="btn btn-secondary" style="margin: 7px; padding: 4px; font-size: 11px; color: white;">
                  <b>Edit</b> 
              </th>
              {% for item in row %}
                <td>{{ item }}</td>
              {% endfor %}
            </tr>

        {% endfor %}
      </tbody>
    </table>



    <!-- By clicking #modla6 opens (by jquery) -->
    <button type="button" id="mybtn2" class="btn btn-primary" data-toggle="modal" data-target="#modal6" hidden>
    button
    </button>

    <!-- Info about page -->
    <div id="modal6" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">

          <div class="modal-body" style="margin: 1em; padding: 0px; margin-bottom: 1px; padding-bottom: 1em;">
            <button type="button" class="close" data-dismiss="modal" style="color: #444444;">&times;</button>
            <p style="font-family: verdana">You are seeing the full view of your data !</p><p style="font-size: 12px;">Go to <b>'Your data [STATISTICS]'</b> page(s) to see the statistics of your data (count)</p>
            <button onclick="set_cookie()" data-dismiss="modal" class="btn btn-secondary" style="font-size: 10px; padding: 4px; float: right;">Do not show this again</button>
          </div>

        </div>
      </div>
    </div>

    <!-- Displaying actual data 
    <div id='display' style="max-width: 100%; padding-left: 0px; margin-left: 0px;"></div>
    -->

    <button id="edit" type="button" data-toggle="modal" data-target="#modal9" hidden>button</button>

    <!--For editing row -->
    <div id="modal9" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
        
          <!-- Modal Header -->
          <div class="modal-header" style="background-color: darkgray; margin: 4px; padding: 0px;">
            <h5 id="htitle" class="modal-title" style="font-family: Arial; color: white; font-size: 13px; margin-left: 1em; padding-bottom: 5px"><b>Edit</b></h5>
            <button type="button" class="close" data-dismiss="modal" style="color: #dddddd;">&times;</button>
          </div>

          <div class="modal-body" id="edit_form" style="margin: 1.5em; padding: 0px; margin-bottom: 1px; padding-bottom: 1em;">
          </div>
            
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal" style="padding:4px; font-size: 11px">Cancel</button>
            <a class="btn btn-success" onclick="grab_update();" data-dismiss="modal" style="padding:4px; font-size: 11px; color: white;">Update</a>
          </div>

        </div>
      </div>
    </div>


  {% endblock container %}
  <!-- End of body -->

{% block js %}
<script type="text/javascript">

//function for fetching cookies by name
function getCookie(cname) {
    var name = cname + "=";
    var decodedCookie = decodeURIComponent(document.cookie);
    var ca = decodedCookie.split(';');
    for(var i = 0; i <ca.length; i++) {
        var c = ca[i];
        while (c.charAt(0) == ' ') {
            c = c.substring(1);
        }
        if (c.indexOf(name) == 0) {
            return c.substring(name.length, c.length);
        }
    }
    return "";
}

//Displaying modal if cookie is not active
jQuery(function(){
  //console.log(getCookie('no_thank'));
  if (getCookie('no_thank') != 'active') {
    jQuery('#mybtn2').click();
  }
});

//Setting cookie value
function set_cookie() {
  document.cookie = "no_thank=active";
}

var mydata;
var mytable;

// Adding footer to the table
$(".dataframe").append(
    $('<tfoot style="font-size: 12px;" />').append($("table thead tr").clone())
);
$("table tfoot tr th").css({
  'font-family':'arial'
});
$("table thead tr th").css({
  'text-align':'center'
})

//Sending request (for college name) to python by ajax
$('#search').keyup(function () {
  var value = $(this).val().trim(); // remove any spaces around the text
  if(value != ""){ // don't make requests with an empty string
    $.ajax({
      url: "{% url 'search' fileid %}",
      data: {
        'searchText': value
      },
      dataType: "json",
      async: true,
      success: function(data){
        //console.log(data);
        //document.getElementById("results").innerHTML = data;
        mydata = data['search_result'];
        //console.log(mydata);   
        var res="<select id='box' autofocus>";

        for (elem in mydata) {
          res += '<option value="' + mydata[elem] + '">' + mydata[elem] + '</option>';
        }

        res += '</select> &nbsp;<button class="btn" style="background-color: green; padding: 1.5px; padding-right: 6px; padding-left: 6px; margin-left: 3em; font-size: 10px; color: white;" onclick="find_data()">Search</button>';

        document.getElementById("dynamicInput").innerHTML = res;
        document.getElementById("select").innerHTML = "Select college :";
        //console.log(document.getElementById("dynamicInput"));
      }
    });
  }
  else{
    document.getElementById("dynamicInput").innerHTML = "";
    mytable.search("").draw();
    document.getElementById("select").innerHTML = "";
  }
});


//Filter Range in Data Table (min and max statistics)
$.fn.dataTable.ext.search.push(

    function( settings, data, dataIndex ) {
        var min = parseInt( $('#min').val(), 10 );
        var max = parseInt( $('#max').val(), 10 );
        var num = parseInt( data[3] ) || parseInt(data[2]) || parseInt(data[4]); 
  //var college = data[3];
  //var name = $('search').val();
 
        if ( ( isNaN( min ) && isNaN( max ) ) ||
             ( isNaN( min ) && num <= max ) ||
             ( min <= num   && isNaN( max ) ) ||
             ( min <= num   && num <= max ) )
        {
            return true;
        }
        return false;
    }
);

var tableRow;
//Storing all the columns of the datatable/dataframe
var columns = {{ cols|js }};
//Row editing options
$('.dataframe tbody').on( 'click', 'tr th', function () {

  //Row element of the selected row
  tableRow = mytable.row($(this).parents('tr'));
  //Data of the selected row
  var data_to_edit = mytable.row( this ).data(); 
  //Form to edit
  var form_elem = "<form id='to_edit' class='form-horizontal'><div class='form-group'>";
  var len = data_to_edit.length;
  var i;

  for(i=1; i<len-1; i++){
    form_elem += "<label style='font-size: 12px'><b>" + columns[i-1] + 
    " : </b></label> <input style='font-size: 13px' class='form-control'" + 
    "type='text' name='f" + i + "' value='" + data_to_edit[i] + "' /><br>";
  }

  form_elem += "<label style='font-size: 12px'><b>Pos(Ignore) : </b>" + 
    "</label> <input style='font-size: 13px' class='form-control'" + 
    "type='text' id='pos' name='pos' value='" + data_to_edit[i] + "' disabled />";
  form_elem += "</div></form>";

  document.getElementById('edit_form').innerHTML = form_elem;
  jQuery('#edit').click();

} );

//Reflect the changes in front of user
function grab_update() {
  document.getElementById('pos').disabled = false;
  var datastring = $("#to_edit").serialize();
  //console.log(datastring);
  $.ajax({
    url: '{% url "save_edits" fileid %}',
    data: datastring,
    dataType: 'json',
    async: true,
    success: function(data){
      //Modifications have been updated  
      var rData = ['<th class="btn btn-secondary" style="margin: 7px; padding: 4px; font-size: 11px; color: white;"><b>Edit</b></th>'];

      //Grabing the form elements
      $('form input').each(
        function(index){  
            var input = $(this);
            rData.push(input.val());
            //alert('Type: ' + input.attr('type') + 'Name: ' + input.attr('name') + 'Value: ' + input.val());
        }
      );
      //Redrawing the data table
      mytable
              .row( tableRow )
              .data(rData)
              .draw();

    }
  });
}

//Converting into data table
$(document).ready(function() {
  mytable = $('.dataframe').DataTable({

  /*If responsive data table is required , otherwise hide the responsive, columnDefs, and order...then it will show the full data
  responsive: {
      details: {
          type: 'column',
          target: 'tr'
      }
  },
  columnDefs: [ {
      className: 'control',
      orderable: false,
      targets:   0
  } ],
  order: [ 1, 'asc' ], */ 

  // adding options with all the names in the current column in the footer
    initComplete: function () {
            this.api().columns().every( function () {
                var column = this;
                var select = $('<select><option value="">All</option></select>')
                    .appendTo( $(column.footer()).empty() )
                    .on( 'change', function () {
                        var val = $.fn.dataTable.util.escapeRegex(
                            $(this).val()
                        );
 
                        column
                            .search( val ? '^'+val+'$' : '', true, false )
                            .draw();
                    } );
 
                column.data().unique().sort().each( function ( d, j ) {
                    select.append( '<option value="'+d+'">'+d+'</option>' )
                } );
            } );
        },
    colReorder: true,
    select: true,
    fixedHeader: true,
    searchHighlight: true,

  });
  $('#min, #max').keyup( function() {
        mytable.draw();
  });

  $("table").addClass("table table-striped table-bordered nowrap");
  $("thead").addClass("table-dark");
});

//Clicking searching button
function find_data() {
  //console.log('Ji');
  var sel = document.getElementById("box");
  var text= sel.options[sel.selectedIndex].text;
  mytable.search(text).draw();
}

//Clicking Reset button
function all_clear() {
  document.getElementById('search').value = ''; 
  document.getElementById('dynamicInput').innerHTML = '';
  document.getElementById("select").innerHTML = "";
  mytable.search("").draw();
}

</script>
{% endblock js %}
